# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
android/
ios/

# Environment & secrets
.env
.env.local
.env.*.local

# EAS
.easignore

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo
